html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #E9F2F4;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

a{
  color: #000;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.container{
  margin: 0 auto;
  width: 90%;
}
.file input{
  display:none;
}


.head{
  height: 80px;
  background: none;
  ul{
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
    margin-right: 50px;
    li{
      display: block;
      padding: 28px 25px;
      cursor: pointer;
      opacity: 0.7;
      transition: all .5s;
      &:hover{
        background: lightblue;
        opacity: 1.0;
      }
    }
  }
}
.img-circle{
  border-radius: 50%;
}

.white-text{
  color: #fff;
}
.white{
  background: #ffffff;
  height: 300px;
}
.main{
  position: relative;
  height: 500px;
  background: linear-gradient(25deg, rgb(67, 185, 208),  #E9F2F4);
  .main-content{
    position: absolute;
    top: 15%;
    left: 15%;
    h2{
      font-size: 3.2rem;
      color: #fff;
      font-weight: bold;
      line-height: 1.4;
      letter-spacing: .1em;
    }
  }
}

.touroku{
  color: #000;
  position: absolute;
  cursor: pointer;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  li{
    list-style:none;
    padding: 20px 40px;
    margin: 30px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s;
    &:hover{
      background: #E9F2F4;
    }
    a{
      color: #000;
      text-decoration: none;
    }
  }
}

.kino{
  width: 50%;
  list-style: none;
  margin: 0 auto;
  display: flex;
  li{
    padding: 40px;
  }
}

.sign_modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .7;
  display: none;
}
.sign_modal {
  position: absolute;
  background-color: #fff;
  width: 450px;
  height: 350px;
  top: 0;
  left: 0;
  border-radius: 10px;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;
  border: 1px solid #eee;
  display: none;
  text-align: right;
}

.sign_modal_content {
  display: none;
  text-align: center;
}
.fa_wrapper {
  cursor: pointer;
  margin: 15px 10px 0 0;
}

.new_user{
  margin: 0 auto;
  width: 50%;
}
.mt-1{
  margin-top: 10px
}
.mt-2{
  margin-top: 20px;
}
.mb-2{
  margin-bottom: 20px;
}
.w-5{
  width: 50%;
}
.w-2{
  width: 20%;
}


