<div class="home">
  <div class="head">
    <ul>
      <li>サービス</li>
      <li>エトリアについて</li>
      <li>投資家の皆様へ</li>
      <li>FAQ</li>
      <li>CONTACT</li>
    </ul>

  </div>
  <div class="main white-text text-center"">
  <div class="main-content">
    <h2>エンジニア採用戦略</h2>
    <p>IT企業のの学生ハンティングを効率化</p>
  </div>
  <div class="touroku">
    <div class="sign_button sign_up_button">
  <li>会員登録</li>
</div>
<div class="sign_button sign_in_button">
  
    <li>ログイン</li>
</div>
    
  </div>
  </div>
  <div class="white">
    <ul class="kino">
      <li>SNS</li>
      <li>グループチャット</li>
      <li>チーム作成</li>
      <li>資金調達</li>
    </ul>
  </div>
</div>

<div class="sign_modal_wrapper"></div>
<div class="sign_modal">
  
  <span class="fa_wrapper"><%= fa_icon "times" %></span>
  <div class="sign_up_modal sign_modal_content">
    <h2>新規登録</h2>
    <form class="new_user"action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="0vopqXSAxej0lk4KKOWG+YUcG2s5X+btIeQBKegvkob1KNqBEYUcJjZXNJ9bYJDpL+8AncJ0uHNFA4luEVFTAg==">
      <div class="field mt-1">
        <label for="user_email">メールアドレス</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]">
      </div>

      <div class="field mt-1">
        <label for="user_password">パスワード</label>
        <em>(6文字以上)</em>
        <br>
        <input autocomplete="new-password" type="password" name="user[password]" aria-autocomplete="list">
      </div>

      <div class="field mt-1">
        <label for="user_password_confirmation">パスワード確認</label><br>
        <input autocomplete="new-password" type="password" name="user[password_confirmation]">
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up" class="button is-success">
      </div>
    </form>
  </div>


  <div class="sign_in_modal sign_modal_content">
    <h2>ログイン</h2>
    <form class="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="oHLlAj0JDR0syLFJq8pvBZgP3Tf2VBOuOl5VCtX7PkCHoBYqWAzU0+4Jy9zYT3kVMvzGwQ1/TTBeud1NLIX/xA==">
      <div class="field">
        <label for="user_email">メールアドレス</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]">
      </div>

      <div class="field mt-1">
        <label for="user_password">パスワード</label><br>
        <input autocomplete="current-password" type="password" name="user[password]">
      </div>

      <div class="field mt-1">
        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]">
        <label for="user_remember_me">Remember me</label>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Log in" data-disable-with="Log in" class="button is-primary">
      </div>
    </form>
  </div>
</div>